<br>
<h1>Editar Conta</h1>
<br>
<%= render "form", bill: @bill %>
<br>
<div>
  <table>
  <th>
  <%= link_to "Ver", @bill, class:'btn btn-secondary' %>
  </th>
  <th>
  <%= link_to "Voltar", bills_path, class:'btn btn-dark' %>
  </th>
  </table>
</div>
<br>
